/* *{
    box-sizing: border-box!important;
    margin: 0;
} */

header{
    margin: 0;
}

img{
    height: 7vh !important;
    min-height: 40px;
    min-width: 50px;
    
 
}



.nav-link{
    
    font-size: 0.8em !important;
    color: rgb(197, 202, 206)!important;}
    

 .container-fluid{
    margin:0;
    @media screen and (max-width: 300px){
        width: 60%; }
 }
   


.imagenHome{
    background-size: cover;
    height: 650px;
    @media screen and (max-width: 300px){
    height: 300px; }

}
.nav-link:hover{
    filter: brightness(1.75) !important;
    cursor: pointer;
}


.headerText{
    @media screen and (max-width: 400px){
        font-size: 0.6em;
    
        
    } 
}

.cuadro{
    width: 250px;
    height: 200px;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

.container{
    justify-content: center !important;
    display: flex !important;
    margin-right: 10px !important;
    text-align: center !important;
    margin: 0 auto !important;

}

.aclaracion{
    font-size: 0.7em;
}